[Unit]
Description=Automatic Startup usb-tty-console

[Service]
Type=simple
StandardInput=tty
StandardOutput=tty
ExecStart=/usr/local/lib/umeko/auto_ttyGS0.sh
User=root
# Group=umeko
Restart=always
RestartSec=5
TTYPath=/dev/ttyGS0


[Install]
WantedBy=multi-user.target
